@charset "UTF-8";
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
    bottom: -10%;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    bottom: -70%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
    bottom: -10%;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    bottom: -70%;
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-padding {
  padding: 4em 2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Gruppo", cursive;
  font-size: 1.6rem;
  color: black;
  background-color: #D89C80;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100vh;
}
.header .nav-desktop {
  display: none;
}
.header .nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e0d7d7;
  transform: translateX(-102%);
  transition: transform 0.5s;
  z-index: 10;
}
.header .nav-mobile--active {
  transform: translateX(0);
}
.header .nav-mobile-link {
  font-family: "Gruppo", cursive;
  font-size: 2.8rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  padding: 0.5em;
  border: 1px solid #9c4d2d;
  color: #9c4d2d;
  transition: color 0.5s;
}
.header .nav-mobile-link:hover {
  color: #D89C80;
}
.header__text {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
}
.header__text-title {
  position: relative;
  top: 35%;
  font-size: 4.8rem;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  text-transform: uppercase;
}
.header__text-title span {
  color: #e0d7d7;
}
.header__text-titleCd {
  position: relative;
  padding: 1em;
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  top: 40%;
}
.header__imgOne {
  grid-column: 1/4;
  grid-row: 2/3;
  background-position: center;
  background-size: cover;
  border: 7px solid #e0d7d7;
  background-image: url(../img/pexels-tehmasip-khan-6601811.jpg);
  filter: grayscale(2);
}
.header__bg-icon-one, .header__bg-icon-two {
  display: none;
}
.header .header__arrow {
  display: none;
}
.header .hamburger {
  position: absolute;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;
}
.header .hamburger-inner, .header .hamburger-inner::after, .header .hamburger-inner::before {
  background-color: #e0d7d7;
  z-index: 500;
}

.about {
  background-color: #9c4d2d;
}
.about .wrapper .aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about .wrapper .aboutUs__img img {
  margin: 1em;
  width: 200px;
  height: 200px;
  border: 7px solid #e0d7d7;
  border-radius: 50%;
}
.about .wrapper .aboutUs__text-one {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-size: 3.5rem;
  color: #e0d7d7;
}
.about .wrapper .aboutUs__text-two {
  margin-top: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.about .wrapper .aboutUs__text-three {
  font-size: 2rem;
  text-transform: capitalize;
}

@media (min-width: 380px) {
  .header__text-title {
    font-size: 5.8rem;
  }
  .header__text-titleCd {
    font-size: 1.7rem;
  }
}
@media (min-width: 762px) {
  .header__text-title {
    font-size: 7.8rem;
  }
  .header__text-titleCd {
    font-size: 3rem;
  }
  .header__img {
    background-position: 50% 40%;
    background-size: cover;
    border: 7px solid #e0d7d7;
    background-image: url(../img/header-BIG.jpg);
  }
}
@media (min-width: 992px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .header .hamburger {
    display: none;
  }
  .header .nav-desktop {
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 15%;
    text-align: center;
  }
  .header .nav-desktop-link {
    font-family: "Gruppo", cursive;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    color: #e0d7d7;
    transition: color 0.5s;
  }
  .header .nav-desktop-link:hover {
    color: #9c4d2d;
  }
  .header .nav-mobile {
    display: none;
  }
  .header__text {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .header__text-title {
    position: static;
    font-size: 5.8rem;
  }
  .header__text-titleCd {
    position: static;
    font-size: 1.5rem;
  }
  .header__imgOne {
    grid-column: 1/2;
    grid-row: 1/7;
  }
  .header__imgTwo {
    grid-column: 3/4;
    grid-row: 1/7;
    background-image: url(../img/pexels-mariÃ¡n-Å¡icko-4214919-2.jpg);
    background-position: center;
    background-size: cover;
    border: 7px solid #e0d7d7;
    filter: grayscale(2);
  }
  .header__bg-icon-one, .header__bg-icon-two {
    display: none;
  }
  .header .header__arrow {
    display: block;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .header .header__arrow-icon {
    width: 5em;
    padding: 0.3em;
    -webkit-animation: pulse linear 3s infinite;
            animation: pulse linear 3s infinite;
  }
  .header .header__arrow-icon:hover {
    -webkit-animation: none;
            animation: none;
  }
}
@media (min-width: 1200px) {
  .header .nav-desktop-link {
    font-size: 2.2rem;
  }
  .header__text-title {
    font-size: 6.8rem;
  }
  .header__text-titleCd {
    font-size: 1.8rem;
  }
}
@media (min-width: 1920px) {
  .header .nav-desktop-link {
    font-size: 3.5rem;
  }
  .header__text-title {
    font-size: 8rem;
  }
  .header__text-titleCd {
    font-size: 2.9rem;
  }
}
@media (min-width: 2560px) {
  .header .nav-desktop-link {
    font-size: 4.5rem;
  }
  .header__text-title {
    font-size: 10rem;
  }
  .header__text-titleCd {
    font-size: 3.5rem;
  }
}
@media (min-width: 3840px) {
  .header .nav-desktop-link {
    font-size: 6rem;
  }
  .header__text-title {
    font-size: 15rem;
  }
  .header__text-titleCd {
    font-size: 5rem;
  }
}/*# sourceMappingURL=main.css.map */