@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
    bottom: -10%;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    bottom: -70%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
    bottom: -10%;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    bottom: -70%;
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-padding {
  padding: 4em 2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Gruppo", cursive;
  font-size: 1.6rem;
  color: black;
  background-color: #d89c80;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  height: 100vh;
}
.header .nav-desktop {
  display: none;
}
.header .nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e0d7d7;
  transform: translateX(-102%);
  transition: transform 0.5s;
  z-index: 10;
}
.header .nav-mobile--active {
  transform: translateX(0);
}
.header .nav-mobile-link {
  font-family: "Gruppo", cursive;
  font-size: 2.8rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  padding: 0.5em;
  border: 1px solid #9c4d2d;
  color: #9c4d2d;
  transition: color 0.5s;
}
.header .nav-mobile-link:hover {
  color: #d89c80;
}
.header__text {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
}
.header__text .logo {
  margin-top: 50px;
  width: 20%;
}
.header__text-title {
  position: relative;
  top: 35%;
  font-size: 4.8rem;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.5s;
}
.header__text-title span {
  color: #e0d7d7;
  transition: color 0.5s;
}
.header__text-title:hover {
  color: #e0d7d7;
}
.header__text-title:hover span {
  color: black;
}
.header__text-titleCd {
  position: relative;
  padding: 1em;
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  top: 40%;
}
.header__imgOne {
  grid-column: 1/4;
  grid-row: 3/5;
  background-position: center;
  background-size: cover;
  border: 7px solid #e0d7d7;
  background-image: url(../img/header0.jpg);
  filter: grayscale(2);
}
.header__bg-icon-one, .header__bg-icon-two {
  display: none;
}
.header .header__arrow {
  display: none;
}
.header .hamburger {
  position: absolute;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;
}
.header .hamburger-inner, .header .hamburger-inner::after, .header .hamburger-inner::before {
  background-color: #e0d7d7;
  z-index: 500;
}

.about {
  background-color: #9c80d8;
}
.about .wrapper .aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about .wrapper .aboutUs__img img {
  margin: 1em;
  width: 150px;
  height: 150px;
  border: 7px solid #e0d7d7;
  border-radius: 50%;
}
.about .wrapper .aboutUs__text-one {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-size: 2.3rem;
  color: #e0d7d7;
}
.about .wrapper .aboutUs__text-two {
  margin-top: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.about .wrapper .aboutUs__text-three {
  font-size: 2rem;
  text-transform: capitalize;
}

.aboutCards {
  background-image: url(../img/longDog1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border: 7px solid #e0d7d7;
}
.aboutCards .wrapper .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aboutCards .wrapper .cards__card {
  margin-bottom: 5em;
  padding: 2em;
  width: 250px;
  border: 7px solid #e0d7d7;
  background-color: rgba(255, 255, 255, 0.45);
  color: black;
  transition: background-color 0.5s, transform 0.5s;
}
.aboutCards .wrapper .cards__card img {
  width: 45%;
}
.aboutCards .wrapper .cards__card h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.aboutCards .wrapper .cards__card p {
  font-size: 1.9rem;
}
.aboutCards .wrapper .cards__card:hover {
  background-color: #e0d7d7;
  transform: scale(1.1);
  box-shadow: 0px 2px 25px #e0d7d7;
}

.offers .wrapper .sectionName {
  padding: 0.8em;
  font-size: 2rem;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}
.offers .wrapper .sectionName span {
  color: #e0d7d7;
}
.offers .wrapper .offersCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.offers .wrapper .offersCards .offerCard {
  position: relative;
  background-color: #e0d7d7;
  margin-bottom: 3em;
}
.offers .wrapper .offersCards .offerCard:hover > img {
  filter: none;
}
.offers .wrapper .offersCards .offerCard__img {
  width: 100%;
  border: 7px solid #e0d7d7;
  filter: grayscale(1);
  transition: filter 0.7s;
}
.offers .wrapper .offersCards .offerCard__title {
  padding: 0.5em;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 2.1rem;
  text-transform: uppercase;
}
.offers .wrapper .offersCards .offerCard__text {
  padding: 0.5em;
  text-align: center;
  margin-bottom: 90px;
  font-size: 2rem;
}
.offers .wrapper .offersCards .offerCard__btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0.5em;
  color: black;
  font-size: 2.5rem;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.7s;
}
.offers .wrapper .offersCards .offerCard__btn:hover {
  background-color: black;
  color: #e0d7d7;
}
.offers .wrapper .offersCards .offerCard .imgAdd {
  display: none;
}

.headerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  background-image: url(../img/HeaderImgSmall.jpg);
  width: 100%;
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border: 7px solid #e0d7d7;
}
.headerImg__title {
  padding: 1em;
  font-size: 4rem;
  font-family: "Cormorant Garamond", serif;
}
.headerImg__text {
  font-size: 2.7rem;
}

.rooms .sectionName {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  padding: 1em;
}
.rooms .sectionName h3 {
  font-size: 2.7rem;
}
.rooms .sectionName h3 span {
  color: #e0d7d7;
}
.rooms .room {
  background-color: #e0d7d7;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;
}
.rooms .room__img img {
  width: 100%;
}
.rooms .room__text-name {
  font-size: 2rem;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}
.rooms .room__text-text {
  padding: 1em;
  font-size: 2.1rem;
}
.rooms .room__text-btn {
  width: 100%;
  margin-top: 1em;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: black;
  color: #e0d7d7;
  padding: 1em;
  cursor: pointer;
  border: none;
  border: 2px solid black;
  transition: all 0.7s;
}
.rooms .room__text-btn:hover {
  background-color: #e0d7d7;
  color: black;
}

.contact {
  background-color: #9c80d8;
  padding: 6em 2em;
}
.contact .section-title {
  font-size: 4rem;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  text-transform: uppercase;
}
.contact .section-title span {
  color: #e0d7d7;
}
.contact__form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.contact__form-box label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 2rem;
}
.contact__form-box textarea {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}
.contact__form-box input,
.contact__form-box textarea {
  padding: 1em 2em;
  margin-bottom: 2em;
  width: 100%;
  color: #e0d7d7;
  background: none;
  border: 1px solid black;
}
.contact__form-box input:focus,
.contact__form-box textarea:focus {
  outline: none;
  border: 2px solid #e0d7d7;
}
.contact__form-box:nth-child(1) {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.contact__form-box:nth-child(2) {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.contact__form-box:nth-child(3) {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.contact__form-btn {
  grid-column: 1/3;
  grid-row: 4/5;
  padding: 1em;
  border: 1px solid black;
  background: none;
  font-weight: bold;
  color: #e0d7d7;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.contact__form-btn:hover, .contact__form-btn:focus {
  outline: none;
  color: black;
  background-color: #e0d7d7;
}

.footer {
  padding: 3em 1em;
  font-size: 2rem;
  border-top: 7px solid #e0d7d7;
  text-align: center;
  color: #e0d7d7;
  background-color: black;
}

@media (min-width: 380px) {
  .header__text-title {
    font-size: 5.8rem;
  }
  .header__text-titleCd {
    font-size: 1.7rem;
  }
  .offers .wrapper .sectionName {
    font-size: 2.4rem;
  }
  .offers .wrapper .offersCards .offerCard__title {
    font-size: 2.7rem;
  }
  .offers .wrapper .offersCards .offerCard__text {
    font-size: 2rem;
  }
}
@media (min-width: 762px) {
  .header__text-title {
    font-size: 7.8rem;
  }
  .header__text-titleCd {
    font-size: 3rem;
  }
  .header__imgOne {
    background-position: 30% 60%;
    background-size: cover;
    border: 7px solid #e0d7d7;
    background-image: url(../img/header0.jpg);
  }
  .aboutCards .wrapper .cards__card {
    width: 450px;
  }
  .offers .wrapper .sectionName {
    font-size: 3.2rem;
  }
}
@media (min-width: 992px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .header .hamburger {
    display: none;
  }
  .header .nav-desktop {
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 15%;
    text-align: center;
  }
  .header .nav-desktop-link {
    font-family: "Gruppo", cursive;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    color: #e0d7d7;
    transition: color 0.5s;
  }
  .header .nav-desktop-link:hover {
    color: #9c4d2d;
  }
  .header .nav-mobile {
    display: none;
  }
  .header__text {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .header__text-title {
    position: static;
    font-size: 5.8rem;
  }
  .header__text-titleCd {
    position: static;
    font-size: 1.5rem;
  }
  .header__imgOne {
    background-image: url(../img/header2.jpg);
    grid-column: 1/2;
    grid-row: 1/7;
  }
  .header__imgTwo {
    grid-column: 3/4;
    grid-row: 1/7;
    background-image: url(../img/header1.jpg);
    background-position: center;
    background-size: cover;
    border: 7px solid #e0d7d7;
    filter: grayscale(2);
  }
  .header__bg-icon-one, .header__bg-icon-two {
    display: none;
  }
  .header .header__arrow {
    display: block;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .header .header__arrow-icon {
    width: 5em;
    padding: 0.3em;
    -webkit-animation: pulse linear 3s infinite;
            animation: pulse linear 3s infinite;
    border: 1px solid #e0d7d7;
  }
  .header .header__arrow-icon:hover {
    -webkit-animation: none;
            animation: none;
  }
  .about .wrapper .aboutUs {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about .wrapper .aboutUs__img img {
    margin: 1em;
    width: 200px;
    height: 200px;
    border: 7px solid #e0d7d7;
    border-radius: 50%;
  }
  .about .wrapper .aboutUs__text {
    transform: translateY(15%);
  }
  .about .wrapper .aboutUs__text-one {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-size: 3rem;
    color: #e0d7d7;
  }
  .about .wrapper .aboutUs__text-two {
    margin-top: 1em;
    font-size: 3rem;
    text-transform: uppercase;
  }
  .about .wrapper .aboutUs__text-three {
    font-size: 2.5rem;
    text-transform: capitalize;
  }
  .aboutCards {
    background-image: url(../img/longDog2.jpg);
  }
  .aboutCards .wrapper .cards {
    height: 80vh;
    flex-direction: row;
    justify-content: space-between;
  }
  .aboutCards .wrapper .cards__card {
    margin-bottom: 0;
    margin-right: 0;
    width: 300px;
    height: 300px;
  }
  .aboutCards .wrapper .cards__card img {
    width: 45%;
  }
  .aboutCards .wrapper .cards__card h3 {
    font-size: 2.5rem;
    margin-bottom: 1em;
  }
  .aboutCards .wrapper .cards__card p {
    font-size: 1.9rem;
  }
  .offers .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .offers .wrapper .sectionName {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 0.8em;
    font-size: 6rem;
    text-align: start;
  }
  .offers .wrapper .sectionName h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 3em;
  }
  .offers .wrapper .offersCards {
    grid-column: 1/3;
    width: 100%;
  }
  .offers .wrapper .offersCards .offerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offers .wrapper .offersCards .offerCard:hover .imgAdd {
    filter: none;
  }
  .offers .wrapper .offersCards .offerCard__title {
    font-size: 4.1rem;
  }
  .offers .wrapper .offersCards .offerCard__text {
    font-size: 2.2rem;
  }
  .offers .wrapper .offersCards .offerCard__btn {
    position: static;
    width: 50%;
    margin-bottom: 5%;
    text-align: center;
  }
  .offers .wrapper .offersCards .offerCard .imgAdd {
    display: flex;
    justify-content: space-between;
    border: 7px solid #e0d7d7;
    filter: grayscale(1);
    transition: filter 0.7s;
  }
  .offers .wrapper .offersCards .offerCard .imgAdd__one {
    width: 40%;
  }
  .offers .wrapper .offersCards .offerCard .imgAdd__two {
    width: 40%;
  }
  .headerImg {
    background-image: url(../img/HeaderImgBig.jpg);
  }
  .headerImg__title {
    padding: 1em;
    font-size: 4.5rem;
    font-family: "Cormorant Garamond", serif;
  }
  .headerImg__text {
    font-size: 3rem;
  }
  .rooms .sectionName h3 {
    font-size: 4rem;
  }
  .rooms .room {
    flex-direction: row;
    padding: 1em;
    margin-bottom: 1em;
  }
  .rooms .room .roomBoxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rooms .room .roomBoxes__name {
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  .rooms .room__text {
    padding: 1em;
    font-size: 2.1rem;
  }
  .rooms .room__btn {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: black;
    color: #e0d7d7;
    padding: 1em;
    cursor: pointer;
    border: none;
  }
}
@media (min-width: 1200px) {
  .header .nav-desktop-link {
    font-size: 2.2rem;
  }
  .header__text-title {
    font-size: 6.8rem;
  }
  .header__text-titleCd {
    font-size: 1.8rem;
  }
}
@media (min-width: 1920px) {
  .header .nav-desktop-link {
    font-size: 3.5rem;
  }
  .header__text-title {
    font-size: 8rem;
  }
  .header__text-titleCd {
    font-size: 2.9rem;
  }
}
@media (min-width: 2560px) {
  .header .nav-desktop-link {
    font-size: 4.5rem;
  }
  .header__text-title {
    font-size: 10rem;
  }
  .header__text-titleCd {
    font-size: 3.5rem;
  }
}
@media (min-width: 3840px) {
  .header .nav-desktop-link {
    font-size: 6rem;
  }
  .header__text-title {
    font-size: 15rem;
  }
  .header__text-titleCd {
    font-size: 5rem;
  }
}/*# sourceMappingURL=main.css.map */