//992px-------------------------------------------------------------------

@media (min-width: 992px) {
	.header {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, 1fr);
		.hamburger {
			display: none;
		}
		.nav {
			&-desktop {
				display: block;
				grid-column: 2/3;
				grid-row: 1/2;
				margin-top: 15%;
				text-align: center;
				&-link {
					font-family: 'Gruppo', cursive;
					font-size: 2rem;
					text-decoration: none;
					text-transform: uppercase;
					padding: 0.5em;
					color: $white;
					transition: color 0.5s;
					&:hover {
						color: $dark;
					}
				}
			}
			&-mobile {
				display: none;
			}
		}

		&__text {
			grid-column: 2/3;
			grid-row: 3/4;

			&-title {
				position: static;
				font-size: 5.8rem;
			}
			&-titleCd {
				position: static;
				font-size: 1.5rem;
			}
		}
		&__imgOne {
			background-image: url(../img/header2.jpg);
			grid-column: 1/2;
			grid-row: 1/7;
		}
		&__imgTwo {
			grid-column: 3/4;
			grid-row: 1/7;
			background-image: url(../img/header1.jpg);
			background-position: center;
			background-size: cover;
			border: 7px solid $white;
			filter: grayscale(2);
		}
		&__bg-icon-one,
		&__bg-icon-two {
			display: none;
		}
		.header__arrow {
			display: block;
			position: absolute;
			bottom: -50%;
			left: 50%;
			transform: translate(-50%, -50%);
			grid-column: 2/3;
			grid-row: 5/6;
			&-icon {
				width: 5em;
				padding: 0.3em;
				animation: pulse linear 3s infinite;
				border: 1px solid $white;
				&:hover {
					animation: none;
				}
			}
		}
	}

	.about {
		.wrapper {
			.aboutUs {
				flex-direction: row;
				justify-content: center;
				align-items: center;
				text-align: center;

				&__img {
					img {
						margin: 1em;
						width: 200px;
						height: 200px;
						border: 7px solid $white;
						border-radius: 50%;
					}
				}
				&__text {
					transform: translateY(15%);
					&-one {
						font-family: 'Cormorant Garamond', serif;
						font-style: italic;
						font-size: 3rem;
						color: $white;
					}
					&-two {
						margin-top: 1em;
						font-size: 3rem;
						text-transform: uppercase;
					}
					&-three {
						font-size: 2.5rem;
						text-transform: capitalize;
					}
				}
			}
		}
	}
	.aboutCards {
		// height: 80vh;
		background-image: url(../img/longDog2.jpg);
		.wrapper {
			.cards {
				height: 80vh;
				flex-direction: row;
				justify-content: space-between;
				&__card {
					margin-bottom: 0;
					margin-right: 0;
					width: 300px;
					height: 300px;
					img {
						width: 45%;
					}
					h3 {
						font-size: 2.5rem;
						margin-bottom: 1em;
					}
					p {
						font-size: 1.9rem;
					}
				}
			}
		}
	}
}

//1200px----------------------------------------------------------------------------

@media (min-width: 1200px) {
	.header {
		.nav {
			&-desktop {
				&-link {
					font-size: 2.2rem;
				}
			}
		}
		&__text {
			&-title {
				font-size: 6.8rem;
			}
			&-titleCd {
				font-size: 1.8rem;
			}
		}
	}
}

//1920--------------------------------------------------------------------

@media (min-width: 1920px) {
	.header {
		.nav {
			&-desktop {
				&-link {
					font-size: 3.5rem;
				}
			}
		}
		&__text {
			&-title {
				font-size: 8rem;
			}
			&-titleCd {
				font-size: 2.9rem;
			}
		}
	}
}

//2560px-----------------------------------------------------------------------

@media (min-width: 2560px) {
	.header {
		.nav {
			&-desktop {
				&-link {
					font-size: 4.5rem;
				}
			}
		}
		&__text {
			&-title {
				font-size: 10rem;
			}
			&-titleCd {
				font-size: 3.5rem;
			}
		}
	}
}

//3840-------------------------------------------------------------

@media (min-width: 3840px) {
	.header {
		.nav {
			&-desktop {
				&-link {
					font-size: 6rem;
				}
			}
		}
		&__text {
			&-title {
				font-size: 15rem;
			}
			&-titleCd {
				font-size: 5rem;
			}
		}
	}
}
