@media (min-width: 762px) {
	.header {
		&__text {
			&-title {
				font-size: 7.8rem;
			}
			&-titleCd {
				font-size: 3rem;
			}
		}
		&__imgOne {
			background-position: 30% 60%;
			background-size: cover;
			border: 7px solid $white;
			background-image: url(../img/header0.jpg);
		}
	}
	.aboutCards {
		.wrapper {
			.cards {
				&__card {
					width: 450px;
				}
			}
		}
	}
}
