//Imports-----------------------------------------------------------------------
@import './_colors.scss';
@import './_animations.scss';
@import './_component.scss';

//Reset CSS---------------------------------------------------------------------
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Gruppo', cursive;
	font-size: 1.6rem;
	color: $black;
	background-color: $mainColor;
}

// font-family: 'Barlow', sans-serif;
// font-family: 'Cormorant Garamond', serif;
// font-family: 'Gruppo', cursive;

//Header-------------------------------------------------------------------------

.header {
	position: relative; // będę pozycjonował elementy
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	width: 100%;
	height: 100vh;
	.nav {
		&-desktop {
			display: none;
		}
		&-mobile {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: $white;
			transform: translateX(-102%);
			transition: transform 0.5s;
			z-index: 10;
			&--active {
				transform: translateX(0);
			}
			&-link {
				font-family: 'Gruppo', cursive;
				font-size: 2.8rem;
				text-decoration: none;
				text-transform: uppercase;
				margin-bottom: 1.5em;
				padding: 0.5em;
				border: 1px solid $dark;
				color: $dark;
				transition: color 0.5s;
				&:hover {
					color: $mainColor;
				}
			}
		}
	}

	&__text {
		grid-column: 1/4;
		grid-row: 1/2;
		text-align: center;
		.logo {
			margin-top: 50px;
			width: 20%;
		}
		&-title {
			position: relative;
			top: 35%;
			font-size: 4.8rem;
			font-family: 'Cormorant Garamond', serif;
			text-align: center;
			text-transform: uppercase;
			transition: color 0.5s;
			span {
				color: $white;
				transition: color 0.5s;
			}
			&:hover {
				color: $white;
				span {
					color: $black;
				}
			}
		}
		&-titleCd {
			position: relative;
			padding: 1em;
			font-size: 1.3rem;
			text-align: center;
			text-transform: uppercase;
			top: 40%;
		}
	}
	&__imgOne {
		grid-column: 1/4;
		grid-row: 3/5;
		background-position: center;
		background-size: cover;
		border: 7px solid $white;
		background-image: url(../img/header0.jpg);
		filter: grayscale(2);
	}
	&__bg-icon-one,
	&__bg-icon-two {
		display: none;
	}
	.header__arrow {
		display: none;
	}
	.hamburger {
		position: absolute;
		top: 3em;
		left: 1em;
		transform: translateY(-50%);
		z-index: 500;
		&-inner,
		&-inner::after,
		&-inner::before {
			background-color: $white;
			z-index: 500;
		}
	}
}

//Section aboutUs-----------------------------------------------------------------------------------
.about {
	background-color: $newsletter;
	.wrapper {
		.aboutUs {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			&__img {
				img {
					margin: 1em;
					width: 150px;
					height: 150px;
					border: 7px solid $white;
					border-radius: 50%;
				}
			}
			&__text {
				&-one {
					font-family: 'Cormorant Garamond', serif;
					font-style: italic;
					font-size: 2.3rem;
					color: $white;
				}
				&-two {
					margin-top: 1em;
					font-size: 3rem;
					text-transform: uppercase;
				}
				&-three {
					font-size: 2rem;
					text-transform: capitalize;
				}
			}
		}
	}
}

//Section about Cards-----------------------------------------------------------------------

.aboutCards {
	background-image: url(../img/longDog1.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	border: 7px solid $white;
	.wrapper {
		.cards {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			&__card {
				margin-bottom: 5em;
				padding: 2em;
				width: 250px;
				border: 7px solid $white;
				background-color: $whiteTrans;
				color: $black;
				transition: background-color 0.5s, transform 0.5s;
				img {
					width: 45%;
				}
				h3 {
					font-size: 2.5rem;
					text-transform: uppercase;
					margin-bottom: 1em;
				}
				p {
					font-size: 1.9rem;
				}
				&:hover {
					background-color: $white;
					transform: scale(1.1);
					box-shadow: 0px 2px 25px $white;
				}
			}
		}
	}
}

//Offers-----------------------------------------------------------------------------------

.offers {
	.wrapper {
		.sectionName {
			padding: 0.8em;
			font-size: 2rem;
			text-align: center;
			font-family: 'Cormorant Garamond', serif;
			span {
				color: $white;
			}
		}
		.offersCards {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			.offerCard {
				position: relative;
				background-color: $white;
				margin-bottom: 3em;
				&:hover > img {
					filter: none;
				}
				&__img {
					width: 100%;
					border: 7px solid $white;
					filter: grayscale(1);
					transition: filter 0.7s;
				}
				&__title {
					padding: 0.5em;
					text-align: center;
					font-family: 'Cormorant Garamond', serif;
					font-size: 2.1rem;
					text-transform: uppercase;
				}
				&__text {
					padding: 0.5em;
					text-align: center;
					margin-bottom: 90px;
					font-size: 2rem;
				}
				&__btn {
					position: absolute;
					bottom: 20px;
					right: 20px;
					padding: 0.5em;
					color: black;
					font-size: 2.5rem;
					text-align: right;
					text-decoration: none;
					text-transform: uppercase;
					background: transparent;
					border: 2px solid black;
					cursor: pointer;
					transition: background-color 0.7s;
					&:hover {
						background-color: $black;
						color: $white;
					}
				}
				.imgAdd {
					display: none;
				}
			}
		}
	}
}

//HeaderImg---------------------------------------------------------------------------------

.headerImg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-style: italic;
	background-image: url(../img/HeaderImgSmall.jpg);
	width: 100%;
	height: 90vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	border: 7px solid $white;
	&__title {
		padding: 1em;
		font-size: 4rem;
		font-family: 'Cormorant Garamond', serif;
	}
	&__text {
		font-size: 2.7rem;
	}
}

//Footer-------------------------------------------------------------------------------------
.footer {
	padding: 3em 1em;
	font-size: 2rem;
	border-top: 7px solid $white;
	text-align: center;
	color: $white;
	background-color: $dark;
}

//Imports-----------------------------------------------------------------------------------

@import './_small.scss';
@import './_medium.scss';
@import './_large.scss';
